@import 'tailwindcss';

@theme {
  --color-brand: #714b67;
  --color-brand-dark: #5a3a52;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}

@media print {
  .no-print {
    display: none !important;
  }
}
